<!DOCTYPE html>
<html>
    <head>
        <title>dashboard</title>
    </head>
    
        
        <img src="../static/images/shine.jpg"width=100px height=150px hspace=10 vspace=0.5 align=left>
        <left><h2><u>SHINE TV</h2></u></left>
        <h6><u>shinesne@gmail.com</u></h5>
        <h6><u>Contact No : 123456789</u></h5>
        <h6> Linkedin Id: https://www.linkedin.com/in/shine-vijayan</h5><hr>

        <h3>
            <div style="background-color:gray;color: rgb(26, 23, 196);padding: 10px;">
            <u>CAREER OBJECTIVE</u></h3>
        <h3>           My Self shine tv, Currently Pursuing Final Year B E computer science. I have knowledge on technologies and 
            programing languages. I am Technically Skilled and Focused, and I Strongly believe in accuracy in my Profession. Now
            I am seeking an entry – Level opportunity where I can utilize my skills and enhance learning in the field of work.
            
            </h3>
            <h3>
                <div style="background-color:gray;color: rgb(26, 23, 196);padding: 10px;">
                <u>ACADEMIC QUALIFICATION</u></h3>
            <table border="5"width=1000>
                <tr>
                    <th>Qualification</th>
                    <th>College/School</th>
                    <th>Year of Passing</th>
                    <th>CGPA</th>
                </tr>
                <tr>
                    <th>Bachelor of Engineering</th>
                    <th>RVS College of Engineering and Technology, Coimbatore</th>
                    <th>2021</th>
                    <th>74</th>
                </tr>
                <tr>
                    <th>H S S</th>
                    <th>XYS HSS kerala</th>
                    <th>2017</th>
                    <th>90</th>
                </tr>
                <tr>
                    <th>High school</th>
                    <th>Yty HS kerala</th>
                    <th>2015</th>
                    <th>94</th>
                </tr>
            </table>
            <h3>
                <div style="background-color:gray;color: rgb(26, 23, 196);padding: 10px;">
                <u>TECHNICAL KNOWLEDGE</u></h2>
            <ul>
                <h3>
                    <b>
                    <li>Communication Skill</li>
                    <li>Focused and Confident</li>
                    <li>Motivated</li>
                </h3>
            </ul>
            <h2>
                <div style="background-color:gray;color: rgb(26, 23, 196);padding: 10px;">
                <u>Personal Details</u>
            </h2>
            <ul>
                <h3>
                    <li>Name : Shine Tv</li>
                    <li>Father Name : Vijayan Tk</li>
                    <li>Hobbies : Listening,Reading</li>
                    <li>D.O.B : 18/04/1999</li>
                    
                </h3>
            </ul>
    </body>
</html>