<!DOCTYPE html>
<html>
    <head>
        <title>Linked in</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        </head>
        <body style="background-image:url('../static/images/linked.jpg');background-repeat:no-repeat;background-attachment: fixed;background-size: cover;">
        <div class="container"></div>
        <center><h1>connect with us!</h1></center><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="in">
        <center><h4><a href="Login.html" target="_blank">Login</a></h4></center><br>
        <center><h4><a href="new user.html" target="_blank">New user</a></h4></center><br><br>
        <center><h3><a href="password.html" target="_blank">forgot password?</a></h3></center>
    
     </div>
    </body>
</html>