<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN PAGE</title>
    </head>
    <body style="background-image: url(../static/images/link.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;"></body>
      
        <div class="log"><center>
            <center><h1>Welcome to Linked in</h1></center>
            <form action="Dashboard.html" method="POST">
            <label>USER NAME</label>
            <input type="text" placeholder="enter your username" required><br><br>

            <label>PASSWORD</label>
            <input type="password"placeholder="enter your password" required><br><br>

            <input type="submit"
        </center>
            <a href="Dashboard.html" target="_blank"></a>

        </form>

        </div>

    </body>
</html>