<!DOCTYPE html>
<html>
    <head>
        <title>New user</title>
    </head>
    <body style="background-image: url(../static/images/linked.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size:cover;"></body>
        <div class="mist">
        <center><form action="Login.html">
            <center><h1>join with us!</h1></center>
            <label>Username</label>
            <input type="text"placeholder="enter user name" required><br><br>
            
            <label>sex</label>
            <select>
                <option>Male</option>
                <option>Female</option>
                <option>others</option>
            </select><br><br>
            <label>D O B</label>
            <select name="month">
                <option value="month">month</option>
                <option value="january">january</option>
                <option value="february">february</option>
                <option value="march">march</option>
            </select>
            <select name="days">
                <option value="days">days</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
            </select>
                <select name="years">
                    <option value="years">years</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                
                
                
                </select><br><br>
                <label>New password</label>
                <input type="password" required><br><br>
                <label>Confirm password</label>
                <input type="password" required><br><br>
                <input type="checkbox">I Agree The Terms of Use<br>
                <center><input type="submit"></center>
            </center>
        </div>
        </form>

</html>